# vim: set noet ci pi sts=0 sw=4 ts=4 :
[user]
	name = {{ gitconfig__name }}
	email = {{ gitconfig__email }}
[push]
	default = current
[alias]
	co = checkout
	m = merge
	cp = cherry-pick
	f = fetch
	fo = fetch origin
	rom = rebase origin/master
	rbm = rebase master
	rbi = rebase --interactive
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	st = status -s
	ci = commit
	br = branch
	lol = log --graph --date=relative --pretty=format:"%C(Yellow)%h%x20%C(Blue)%an%C(Red)%d%x20%C(Green)-%x20%s%x20%C(Cyan)%cd"
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[include]
	path = ~/.gitconfig_color_black2
